<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="m" class="com.masai.Main" autowire="byName"/>
<bean id="ds" class="com.masai.Circle" autowire="byName"/>
<bean id="t" class="com.masai.Triangle" autowire="byName"/>
<bean id="cy" class="com.masai.Cylinder" autowire="byName"/>

</beans>